.section__btn {
  width: 200px;
  height: 50px;
  border-radius: 100px;
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--btn-color);
  font-size: 12px;
  margin: 10px;
  transition: all 0.3s;
}
